.header {
	margin-top: 25px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;
	}
	&__logo {
		display: flex;
		align-items: center;
		background-color: transparent;
		border: none;
		gap: 5px;
		font-weight: 600;
		font-size: 20px;
		text-decoration: none;
		color: black;
		cursor: pointer;
		transition: transform 0.2s ease;
		&:hover {
			color: transparent;
			background: linear-gradient(to bottom right, #0000ff, #1d1f2a, #ff0000);
			background-clip: text;
			transition: 0.2s ease;
			transform: scale(1.1);
		}
	}
	@media (max-width: 1400px) {
		padding: 0 20px;
	}
	@media (max-width: 770px) {
		&__logo {
			font-size: 18px;
		}
	}
}
