.series__dropdown {
	display: flex;
	justify-content: left;
	background: rgba(211, 211, 211, 0.3);
	position: relative;
	height: 250px;
	margin-bottom: 50px;
	margin-top: 150px;
	&-wrapper {
		padding-left: 15px;
	}
	&-block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-list {
		display: inline-flex;
		gap: 15px;
		list-style: none;
		font-weight: bold;
	}
	&-image {
		position: absolute;
		top: 0;
		transform: translate(50%, -50%);
	}
	&-title {
		font-size: 36px;
		font-weight: 500;
		padding-top: 55px;
	}
	&-subtitle {
		border: 1px solid black;
		padding: 15px 50px;
		width: 500px;
		text-align: center;
		transition: 0.25s ease-in;
		text-decoration: none;
		font-weight: bold;
		font-size: 26px;
		color: black;
		cursor: pointer;
		&:hover {
			transform: scale(1.02);
			transition: 0.25s ease-out;
		}
	}
	&-new {
		padding: 5px;
		position: absolute;
		top: 10px;
		left: 20px;
		background-color: black;
		color: white;
		font-weight: bold;
	}
	&-m {
		position: absolute;
		top: 0;
		right: 20px;
		height: 50px;
		width: 50px;
	}
	&-svg {
		position: absolute;
		transition: 0.3s ease;
		top: -100px;
		right: 10px;
		fill: black;
		cursor: pointer;
		&:hover {
			transition: 0.3s ease;
			transform: scale(0.7);
		}
	}
	@media (max-width: 997px) {
		&-image {
			transform: translate(20%, -70%);
			width: 500px;
		}
		&-m {
			position: absolute;
			left: 80px;
			right: 20px;
			height: 50px;
			width: 50px;
		}
		&-title {
			font-size: 26px;
			padding-top: 55px;
		}
		&-subtitle {
			padding: 15px 25px;
			width: 200px;
			font-size: 20px;
		}
	}
	@media (max-width: 667px) {
		&-image {
			transform: translate(20%, -70%);
			width: 350px;
		}
	}
	@media (max-width: 480px) {
		&-image {
			transform: translate(20%, -70%);
			width: 250px;
		}
	}
}
