.upbutton {
	display: inline-flex;
	position: fixed;
	bottom: 220px;
	right: 50px;
	border-radius: 50%;
	background: linear-gradient(to bottom right, #0000ff, #1d1f2a, #ff0000);
	transition: 0.2s ease;
	cursor: pointer;
	&:hover {
		transition: 0.2s ease;
		transform: scale(1.2);
	}
	&__icon {
		background-image: url('./icons8-up-arrow-30.png');
		background-position: center center;
		background-repeat: no-repeat;
		height: 60px;
		width: 60px;
	}
}
