.car {
	&__blocks {
		display: flex;
		justify-content: space-between;
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 350px;
		&-image {
			max-width: 100%;
			max-height: 100%;
		}
		&-title {
			font-size: 20px;
		}
		&-text {
			font-size: 16px;
		}
		@media (max-width: 1400px) {
			gap: 10px;
			max-width: 300px;
			&-title {
				font-size: 20px;
			}
			&-text {
				font-size: 16px;
			}
		}
		@media (max-width: 997px) {
			&-image {
				max-width: 100%;
				max-height: 100%;
			}
			&-title {
				font-size: 20px;
			}
			&-text {
				font-size: 16px;
			}
		}
		@media (max-width: 780px) {
			&-title {
				font-size: 20px;
			}
			&-text {
				font-size: 16px;
			}
		}
	}
	&__text {
		font-size: 24px;
		@media (max-width: 1400px) {
			font-size: 20px;
		}
		@media (max-width: 997px) {
			font-size: 18px;
		}
		@media (max-width: 780px) {
			font-size: 16px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2px;
		&-item {
			font-size: 18px;
			color: black;
		}
		@media (max-width: 1400px) {
			&-item {
				font-size: 16px;
			}
		}
		@media (max-width: 997px) {
			&-item {
				font-size: 14px;
			}
		}
	}

	&__header {
		position: relative;
		&-title {
			position: absolute;
			top: 15vh;
			left: 5vw;
			color: white;
			font-size: 56px;
			opacity: 0.8;
		}
		&-image {
			width: 100%;
			min-height: 90vh;
		}
		&-logo {
			position: absolute;
			top: 13vh;
			left: 5.5vw;
			opacity: 0.8;
			background: white;
			border-radius: 5px;
			padding: 2px;
		}
		&-btn {
			position: absolute;
			top: 2vh;
			left: 2vw;
			width: 45px;
			height: 45px;
			background-color: white;
			opacity: 0.8;
			border-radius: 50%;
			background-image: url('../../image/CarFullPage/icons8-left-32.png');
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			transition: 0.2s ease;
			&:hover {
				transition: 0.2s ease;
				opacity: 0.9;
			}
		}
		@media (max-width: 1400px) {
			&-title {
				font-size: 36px;
			}
		}
		@media (max-width: 997px) {
			&-title {
				font-size: 36px;
			}
			&-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media (max-width: 697px) {
			&-title {
				font-size: 24px;
			}
			&-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&-logo {
				top: 12vh;
			}
		}
	}
	&__footer {
		max-width: 1280px;
		margin: 0 auto;
		padding-bottom: 50px;
		border-bottom: 3px solid black;
		&-title {
			text-transform: uppercase;
			font-size: 42px;
		}
		&-image {
			max-width: 100%;
			max-height: 100%;
		}
		&-blocks {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-evenly;
		}
		&-block {
			max-width: 600px;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-top: 30px;
			font-size: 20px;
		}
		@media (max-width: 1400px) {
			padding: 0 20px;
			&-title {
				font-size: 38px;
			}
		}
		@media (max-width: 997px) {
			&-title {
				font-size: 34px;
			}
			&-blocks {
				display: flex;
				flex-direction: column-reverse;
				gap: 30px;
				align-items: center;
			}
		}
		@media (max-width: 780px) {
			&-title {
				font-size: 28px;
			}
		}
	}
}

.main {
	overflow-x: hidden;
	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}
	&__about {
		padding-top: 30px;
		&-blocks {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&-block {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid lightgrey;
			padding-bottom: 10px;
		}
		&-text {
			font-size: 26px;
		}
		&-list {
			display: flex;
			flex-direction: row;
			list-style: none;
			gap: 15px;
		}
	}
	@media (max-width: 1400px) {
		padding: 0 20px;
		&__about {
			padding-top: 30px;
			&-blocks {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
			&-text {
				font-size: 24px;
			}
			&-list {
				gap: 10px;
			}
		}
	}
	@media (max-width: 997px) {
		&__about {
			padding-top: 25px;
			&-text {
				font-size: 20px;
			}
		}
	}
	@media (max-width: 697px) {
		&__about {
			&-title {
				font-size: 14px;
			}
			&-text {
				font-size: 16px;
			}
		}
	}
	@media (max-width: 480px) {
		&__about {
			&-title {
				font-size: 10px;
			}
			&-text {
				font-size: 14px;
			}
		}
	}
}

.navigate {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px;
	margin-top: 50px;
	&__navbar {
		&-list {
			display: flex;
			flex-direction: row;
			gap: 15px;
			list-style: none;
		}
		&-item {
			color: gray;
			font-weight: bold;
			transition: 0.2 ease;
			font-size: 20px;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
				transition: 0.2 ease;
			}
		}
	}
	@media (max-width: 1400px) {
		gap: 10px;
		margin-top: 40px;
		&__title {
			font-size: 20px;
		}
		&__navbar {
			&-item {
				font-size: 18px;
			}
		}
	}
	@media (max-width: 697px) {
		gap: 7px;
		margin-top: 30px;
		&__title {
			font-size: 16px;
		}
		&__navbar {
			&-item {
				font-size: 12px;
			}
		}
	}
}

.infocar {
	padding-bottom: 100px;
	padding-top: 60px;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__text {
		padding-bottom: 15px;
	}
	@media (max-width: 1400px) {
		padding-bottom: 50px;
		padding-top: 30px;
	}
	@media (max-width: 997px) {
	}
	@media (max-width: 697px) {
	}
}

.specification {
	padding-bottom: 170px;
	&__title {
		text-transform: uppercase;
		font-size: 42px;
	}
	&__text {
		padding: 30px 0 20px 0;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 60px;
		width: 600px;
		&-item {
			display: flex;
			justify-content: space-between;
			padding-bottom: 10px;
			border-bottom: 1px solid lightgray;
		}
		&-title {
			font-weight: 500;
			font-size: 16px;
		}
		&-text {
			font-weight: bold;
		}
	}
}
