.series__page {
	&-wrapper {
		margin: 0 auto;
		max-width: 1280px;
	}
	&-blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}
	@media (max-width: 1400px) {
		padding: 0 20px;
	}
	@media (max-width: 997px) {
		&-blocks {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}
}
