.navbar {
	position: relative;
	&__list {
		display: flex;
		gap: 25px;
		list-style: none;
	}
	&__list-item {
		display: inline;
		user-select: none;
		cursor: pointer;
		transition: 0.1s ease-out;
		a {
			text-decoration: none;
			color: black;
		}
		&:hover {
			transition: 0.1s ease-in;
			opacity: 0.5;
		}
	}

	@media (max-width: 1197px) {
		font-size: 24px;
		&__list {
			gap: 10px;
		}
	}
	// Буде бургер-меню потiм..
	@media (max-width: 797px) {
		&__list-item {
			&:last-child {
				display: none;
			}
		}
	}
	@media (max-width: 770px) {
		font-size: 18px;
	}
}
